<div class="container w-100">

    <div class="row w-100 mt-5">
      <div class="col-md-12">
        <h1 class="text-monospace text-center"> Sejam bem-vindes a This is us Brasil! </h1>
      </div>
    </div>
  
    
  
    <div class="row w-100 mt-4 mb-4">
      <div class="col-md-12">
        <p class="text-justify text-monospace">

          This is Us é um premiado seriado da NBC (já são 26 prêmios em três temporadas) que conta a história de uma família chamada Pearson.
          Mas não é só isso. A série traz uma narrativa dinâmica focada em pessoas que nasceram no mesmo dia. O pai, Jack Pearson, e seus três filhos: Kevin, Kate e Randall.
          
          Basicamente, cada capítulo traz informações importantes sobre a vida de cada um deles e das pessoas que interagem durante uma vida toda. Em forma de passado/presente/futuro, cada vez mais a produção de aprofunda nos personagens e aproxima eles da realidade.
          
          E é isso que torna a série tão importante, tão interessante, e principalmente necessária para os dias em que vivemos.
        </p>
        <p class="text-justify text-monospace">
          
          Os Pearson, e todos que estão em volta deles, sofrem de problemas mundanos. Insegurança, ansiedade, stress, luto, pressão, e todo o pacote “humano” que todo adulto que se preze já passou ou viu alguém passar.
          
          E o interessante da série é que esses problemas são apresentados com consciência, e principalmente com empatia e respeito. A mensagem aqui é que tudo pode ser resolvido e melhorado na base do diálogo. Resumindo: por mais ferrado que você esteja, sempre é possível buscar uma solução de forma ponderada, consciente, e que pode acalentar o seu coração.
          
          Não se desespere. Respire.

        </p>
      </div>
    </div>
  </div>
  
    <div class="parallax"></div>
  
    <div class="row w-100 mt-5 mb-5">
      <div class="col-md-12 w-100 d-flex justify-content-center">
        <button class="btn btn-outline-dark text-uppercase font-weight-bold" routerLink='/feed'>Ver o feed</button>
      </div>
    </div>

    