<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
      <img class="card-img-top rounded w-100" src="https://media3.giphy.com/media/ddwS82hzU6sYCeBF8z/200w.webp?cid=ecf05e47ga3z405tih9833w8dnggrovkshsu3bvix9mff3sw&rid=200w.webp" 
      alt="Imagem de capa do card">
    </div>
  
    <div class="card-body">
      <h4 class="cor-feed card-title text-center text-monospace font-weight-bolder">This is us</h4>
      <p class="card-text text-center text-monospace">Informações gerais

      </p>
      <p class="card-text text-center text-monospace">
        Gênero	Comédia dramática -
        Drama romântico -
        Drama familiar

      </p>
        
       
      <p class="card-text text-center text-monospace">
          Criador(es)	Dan Fogelman
          

          </p>
          <p class="card-text text-center text-monospace">
          País de origem - Estados Unidos
       
        </p>
        
        <p class="card-text text-center text-monospace">
      
        Emissora original	- NBC
        

        </p>

        <p class="card-text text-center text-monospace">
        Transmissão original	20 de setembro de 2016 – presente
      </p>

      <p class="card-text text-center text-monospace">
        Temporadas - 5
        
        
        </p>
  
      <a href="https://www.instagram.com/thisisusofficiall/" class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">Instagram</a>
  
      <a href="https://twitter.com/nbcthisisus" class="btn btn-outline-dark d-flex justify-content-center" target="_blank">Twitter</a>
  
    </div>
  </div>
