<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
      <img class="card-img-top rounded w-100" src="https://media3.giphy.com/media/ddwS82hzU6sYCeBF8z/200w.webp?cid=ecf05e47ga3z405tih9833w8dnggrovkshsu3bvix9mff3sw&rid=200w.webp" 
      alt="Imagem de capa do card">
    </div>
  
    <div class="card-body">
      <h5 class="card-title text-center text-monospace">This is us</h5>
      <p class="card-text text-center text-monospace">This is Us é um premiado seriado da NBC (já são 26 prêmios em três temporadas) que conta a história de uma família chamada Pearson. A série traz uma narrativa dinâmica focada em pessoas que nasceram no mesmo dia. O pai, Jack Pearson, e seus três filhos: Kevin, Kate e Randall.

        Basicamente, cada capítulo traz informações importantes sobre a vida de cada um deles e das pessoas que interagem durante uma vida toda. Em forma de passado/presente/futuro, cada vez mais a produção de aprofunda nos personagens e aproxima eles da realidade.
        
        
        </p>
  
      <a href="https://www.instagram.com/thisisusofficiall/" class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">Instagram</a>
  
      <a href="https://twitter.com/nbcthisisus" class="btn btn-outline-dark d-flex justify-content-center" target="_blank">Twitter</a>
  
    </div>
  </div>
